<tr>
  <td><%= treat.site %></td>
  <td><%= treat.username %></td>
  <td>
    <%= link_to fa_icon('clipboard'), '#', title: 'Copy to clipboard',
      data: { behavior: 'clip', "clipboard-target" => dom_id(treat) } %>
    <span id="<%= dom_id treat %>"><%= treat.cookies %></span>
  </td>
  <td>
    <%= link_to fa_icon('trash-o'), treat, method: :delete, data: { confirm: "Really?" } %>
  </td>
</tr>
